.table {
  width: 100%;
  border-collapse: collapse;
}

.th, .td {
  border: 1px solid #ddd;
  padding: 10px; /* Erhöht den Padding-Wert, damit der Inhalt mehr Platz hat */
}

.th {
  background-color: #f19832;
  text-align: left;
}

.tr:nth-child(even) {
  background-color: #f2f2f2;
}

.input {
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

.button {
  padding: 8px 12px;
  color: white;
  border: none;
  border-radius: 1px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 5px; /* Kleiner Abstand zwischen den Buttons */
  font-size: 14px;
  display: inline-block;
}

.edit-button {
  background-color: #007bff;
  margin-bottom: 4px; /* Abstand zum nächsten Button */
}

.edit-button:hover {
  background-color: #0056b3;
  color: white;
}

.delete-button {
  background-color: #ff0000;
  color: white;
}

.delete-button:hover {
  background-color: #570303;
  color: white;
}
